.contact-welcome {
    text-align: center;
}

.contact-general {
    padding: 1em;
    padding-bottom: 0;
    margin-top: 1.5em;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):first-child {
    border-color: #2d2656!important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    color: #2d2656!important;
    border-color: #2d2656!important;
    box-shadow: -1px 0 0 0 #2d2656!important;
}

.ant-radio-button-wrapper:hover {
    color: #2d2656da!important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
    border-color: #2d2656!important;
}

.ant-radio-button-wrapper:focus-within {
    outline: 3px solid rgba(45,38,86,0.06)!important;
}

.ant-form-item-required::before {
    font-size: 0px!important;
}