.login-general {
    padding: 1em;
    padding-bottom: 0;
    margin-top: 1.5em;
    background-color: lightgrey;
    border-radius: 15px;
}
.login-welcome {
    text-align: center;
    margin-bottom: 1.5em;
}
.login-form-forgot {
    float: right;
}
.login-form-button {
    width: 100%;
}